@charset "UTF-8";
/* Style the footer */
footer {
  overflow: hidden;
  background-color: #f1f1f1;
  padding: 20px 10px;
}

/* Style the footer copyright element */
footer p {
  float: left;
  margin-left: 10px;
}

/* Style the footer links */
footer a {
  text-decoration: none;
  color: black;
  float: right;
  margin-right: 10px;
  padding: 15px;
  border-radius: 4px;
}

/* Style the footer links if visited before */
footer a:active {
  color: black;
}
  
/* Style the footer links on hover */
footer a:hover {
  background-color: lightgrey;
}

footer a.active {
  background-color: dodgerblue;
  color: white;
}

/* Media responsivness */
@media screen and (min-height: 1000px) {
    body {
      min-height: 100vh;
      display: flex;
      flex-direction: column;
    }
    
    footer {
      margin-top: auto;
    }
}

@media screen and (max-width: 700px) {
  footer p, footer a{
    float: none;
    display: block;
    text-align: center;
    margin: 0 auto;
  }
  footer p {
    margin-bottom: 10px;
  }
}